<div class="container create">
  <a routerLink="/createuser" class="btn btn-primary">Crear usuario</a>
</div>
<div class="container cards">
  <div
    class="card"
    style="width: 18rem"
    *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: p }"
  >
    <img class="card-img-top" src="{{ user.avatar }}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <p class="card-text">
        {{ user.email }}
      </p>
      <a routerLink="/user/{{ user.id }}" class="btn btn-primary">Editar</a>
    </div>
  </div>
</div>
<div class="container pagination">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
