.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  text-align: center;
}

.create {
  margin: 25px 40%;
}

.card {
  margin: 10px;
}

.pagination {
  margin: 25px 40%;
}
